:root {
    --primary-text-color: #757575;
    --title-text-color: #000000;
    --accent-color: #2196F3;
    --title-header: #ffffff;
    --button-background: #F5F4FA;
}

body {
    color: var(--primary-text-color);
    background-color:var(--title-header);
    font-family: Roboto, sans-serif;
}

.page-footer {
    background-color: #2F303A;
}

.logo {
    color: var(--accent-color);
    font-family: Raleway;
    width: 145px;
        height: 31px;
        left: 215px;
        top: 24px;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.1;
        letter-spacing: 0.03em;
        text-decoration: none;
}

.logo-header {
    color: var(--title-text-color);
    font-family: Raleway;
    font-family: Raleway;
        width: 145px;
        height: 31px;
        left: 215px;
        top: 24px;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
}

.logo-footer {
    color: var(--title-header);
    font-family: Raleway;
        width: 145px;
        height: 31px;
        left: 215px;
        top: 24px;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
}

.list {
    list-style: none;
}
/*Site navigation*/
.site-nav a{
    color: #212121;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-color);
}

.site-nav.list a:hover,:focus {
    color: var(--accent-color);
}

/*Site navigation footer*/


.nav-footer {
    color: var(--title-header);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;
}


.nav-footer a {
    color: var(--title-header);
        width: 231px;
        height: 21px;
        left: 215px;
        top: 1739px;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        text-decoration: none;
        font-style: normal;
}

.nav-footer a:hover, 
.nav-footer a:focus{
    color:var(--accent-color);
}

.nav-footer.list a.contacts{
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
   
}

.nav-footer.list a:hover,
.nav-footer.list a:focus {
    color: var(--accent-color);
}

.section-title {
    color: #212121;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.button {
    color: var(--button-background);
    background-color: var();
    font-family: inherit;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    text-decoration: none;
    cursor: pointer;
}

.button.primary {
    color: var(--title-header);
    background-color: var(--accent-color);
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.button.primary:hover,
.button.primary:focus {
    color: var(--title-text-color);
    background-color: #188CE8;
}

.button.nav.portfolio {
    color: #212121;
    background-color: #F5F4FA;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
}

.button.nav.portfolio:hover,
.button.secondary:focus {
    color: var(--title-header);
    background-color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav.list .benefits {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
}
    
.site-nav.list .pos{
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.site-nav.list .type {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}

h1.the {
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
}


/* основной цвет/ - #212121;

/* вторичный цвет - #757575;

/;заголовок на глвной - #FFFFFF

цвет активных элементов - 2196F3*
